#header {
    color: crimson;
    background: linear-gradient(to bottom, dodgerblue 0%, blue 100%);
}

#sin {
    color: lime;
    background: linear-gradient(to bottom, olive 0%, green 100%);
    padding: 40px 0;
}


#sun {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
     background: linear-gradient(to bottom, red 0%, crimson 100%);
}

